<div class="container">

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="search" class="form-control" name="productName" [(ngModel)]="productName">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "findProductByProductName()">Search</button>
        </div>
    
    <div class="row">
        <div class="B">
            <div class="card m-b-1">
               <div class="card-body row">
                  <div class="col-3">
                       <a href=""><img src="{{products?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60" ></a>
                  </div>
                  <div class="col-6 card-title align-self-center mb-0">
                       <h5>{{products.productName}}</h5>
                       <p class="m-0">{{products?.about}}</p>
                       </div>
                       </div>
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{products?.brand}}</li>
                    <li class="list-group-item">Price : {{products?.price}}</li>
                 </ul>
                 <ul>
                 
        <button class="btn btn-primary" (click)=addtoCart(products)>addtoCart</button>
     </ul>
     </div>
</div>
</div>

