<div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let device of devices" class="col-md-3 col-xl-5" >
         <div class="B">
       <div class="card m-b-6">
          <div class="card-body row">
             <div class="col-3">
                  <a href=""><img src="{{device?.imageUrl}}" alt="" class="img-fluid rounded-circle w-10" width="200px" height="0x"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{device.deviceName}}</h5>
                  <p class="m-0">{{device?.about}}</p>
                  </div>
                  </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">{{device?.brand}}</li>
               <li class="list-group-item">Price : {{device?.price}}</li>
            </ul>
            <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
            <button class="btn btn-primary" (click)=addtoCart(device)>Add to cart</button>
            </div>
            </div>
            </div>
            </div>
      </div>
     </div>